<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Common Files">
            <directory>./tests/src/Earley/Ebay/Common/</directory>
        </testsuite>
        <testsuite name="API">
            <directory>./test/src/Earley/Ebay/API/</directory>
        </testsuite>
    </testsuites>
</phpunit>